<html lang="fr">
<head>
   <title>Le juste Prix</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Bienvenue  au JUSTE PRIX</h1>
  <h3>Vous aller devoir deviner le prix de cet object : </h3>
  <h4 class="description">{{ description }}</h4>
  <img src="image">
  <h2>{{ price  }}</h2>
  <form action='/invite' method='post'>
      Réponse: <input type='text' name='invite'>
      <input type='submit' value='Valider'>
      <br>
  </form>
  <p2>C'est : {{ answer }}</p2>
  <br>
  <br>
  
  <p2 class="tmps">Vous avez mis :{{ temps }}</p2>

</body>